.body {
  background: linear-gradient(249.87deg, rgba(241, 99, 99, 0.8) 0%, rgba(85, 85, 251, 0.8) 100%), url('../login_ambulance.jpeg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background: white;
  width: 90%;
  max-width: 562px;
  height: 644px;
  position: relative;
  left: -450px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
  position: relative;
  top: 180px;
  width: 437px;
  height: 68px;
  border-radius: 20px;
  left: 40px;
}

.input-field {
  width: 100%;
  height: 68px;
  padding: 10px;
  padding-left: 60px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  left: 10px;
}

.submit-btn {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #5555FB;
  color: white;
  cursor: pointer;
  width: 138px;
  height: 52px;
  position: relative;
  top: 190px;
  left: 340px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  position: relative;
  top: 250px;
  font-size: 20px;
}

.signup-link a {
  text-decoration: none;
  color: blue;
}
.login-heading{
  color: #878585;
  position: relative;
  top: 110px;
  left: 40px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

}
.email-logo{
  border: none;
  background: #5555FB;
  color: white;
  cursor: pointer;
  width: 129px;
  height: 33px;
  position: relative;
  top: -90px;
  left: 30px;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
@media (max-width: 768px) {
  .login-form {
    left: 0; /* Center form on smaller screens */
    max-width: 100%; /* Allow form to fill available width */
  }

  .input-container {
    top: 80px; /* Adjust position for smaller screens */
  }

  .login-heading {
    top: 40px; /* Adjust position for smaller screens */
  }

  .submit-btn {
    top: 100px;
    left: calc(50% - 69px); /* Center button horizontally */
  }

  .signup-link {
    top: 180px; /* Adjust position for smaller screens */
  }
}