.App {
  /* text-align: center; */
}

.header {
  background-color: rgb(48,89,160);
  color: white;
  padding: 0 0;
  border-radius: 2.5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 10px;
  padding: 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.emri-logo {
  height: 40px;
}

.title {
  font-size: 13px;
  color:rgb(81,131,220)
}

.main-content {
  /* padding-top: 0.5px; */
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  height:100%;
}


.smaller-column {
  flex: 1;
  margin-left: 1px;
  background-color: rgb(48,89,160);
  padding: 1px 3px;
  align-items: flex-start;
  /* margin-right: 10px; */
  margin-bottom: 0; 
  /* border-radius: 2.5px; */
  height:91vh;
  overflow: hidden;
  
}

.larger-column {
  flex: 2; 
  padding: 0;
  /* border-radius: 2.5px; */
  background-color: white;
}

.inbox-header {
  background-color: rgb(255, 255, 255); 
  padding: 0 15px;
  margin-bottom: 2px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 2px;
}

.labels {
  display: flex;
}

.label {
  margin-top: 9%;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
}

.critical {
  background-color: rgb(252, 30, 43);
}

.moderate {
  background-color: rgb(252, 137, 51);
}

.minor {
  background-color: rgb(95, 203, 205);
}

.label-text {
  margin-left: 5px;
}


.expandable-box {
  cursor: pointer;
  border: 1px solid #ccc;
  /* padding: 10px; */
}

.box-content {
  overflow: hidden;
  transition: height 0.3s ease;
  border-left: 9px solid rgb(226,3,38);
}

.box-content.expanded {
  height: auto;
  background-color: rgb(226,3,38);
}

.long-column-header{

  background-color: #EA2323; 
  padding: 1.2% 3%;
  margin-bottom: 2px;
  display: flex;
  color:white;
  justify-content: space-between;
  border-radius: 2px;
}

.right-column{

  padding: 0 15px;
  margin: 0 10px;
  background-color: blue;
  border-radius: 2px;
}




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
