.parentdocument{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1102px;
    height: 97px;
    background-color: white; 
    border-radius: 20px;
    padding: 20px;
    margin: 10px auto;
    cursor: pointer;
    justify-content: space-between; /* Pushes left and right divs to the extremes */

}

.threedots{
    margin-left: 10px;
}
.onedot{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 4px auto;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  
}

.left img {
  width: 50px; /* adjust size as needed */
  height: 50px; /* adjust size as needed */
  margin-right: 10px;
}

.left span {
  font-size: 16px; /* adjust size as needed */
}

.right {
    display: flex;
    align-items: center;
    padding: 0; /* remove default padding */
    margin: 0; /* remove default margin */
    border: none; /* remove default border */
    color: black;
}

.right img {
  width: 50px; /* adjust size as needed */
  height: 50px; /* adjust size as needed */
  margin-left: 10px;
}

.right span {
  font-size: 16px; /* adjust size as needed */
}
.pdf-viewer-container {
  margin-top: 10px; /* Adjust as needed */
  display: flex;
  justify-content: center;
}

.pdf-viewer {
  width: 100%;
  height: 500px; /* Adjust height as needed */
  border: none;
}


.progress-container {
  width: 432px; /* Adjust width as needed */
  height: 9px;
  background-color: rgba(222, 222, 255, 1);
  border-radius: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 20px;
}